$linkColor: #036481;
$linkNormal: rgba($linkColor, 0.8);
$linkHover: rgba($linkColor, 1);

$titleColor: #286090;

@mixin box-link() {
    li {
        border-bottom: 2px #ccc solid;
        .box {
            text-align: center;
            img {
                margin-top: 10px;
                max-width: 45%;
                max-height: 210px;
            }
            label {
                margin-top: 0.5rem;
                font-size: 1.6rem;
                letter-spacing: 0.3rem;
            }
        }
    }
}
