@mixin group-title-text() {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem 1rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
}

.brown-group {
    border: #dbdbdb 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 5px 8px 10px 2px #888888;
    word-break: break-all;
    word-wrap: break-word;
    .brown-title {
        background-color: #9f3b02;
        min-height: 40px;
        margin-top: 1px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        label {
            @include group-title-text;
        }
    }
}

.orange-group {
    margin-left: 20px;
    .orange-title {
        background-color: #ff8003;
        border-radius: 3px 3px 0 0;
        min-height: 40px;
        margin-bottom: 5px;
        overflow: hidden;
        label {
            @include group-title-text;
        }
    }
}

.blue-group {
    border: #dbdbdb 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;

    .blue-title {
        background: url(../images/title-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 100px 50px;
        background-color: #8c0303;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        label {
            @include group-title-text;
        }
    }
}

.gray-group {
    border: #dbdbdb 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    .gray-title {
        background-color: #d7d5d5;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        label {
            display: block;
            @include group-title-text;

            a {
                text-decoration: none;
                color: #0765c8;
                display: block;
                &:hover {
                    color: #0d3a6b;
                }
            }
        }
    }
}

.head-title {
    margin: 6rem 0 1rem;
    background-color: #a8a8aa;

    border-radius: 3px;
    box-shadow: 4px 2px 5px #c9c9c9;
    text-align: center;
    width: 100%;

    h2 {
        letter-spacing: 0.2rem;
        font: {
            size: 2.5rem;
            weight: bold;
        }
        color: white;
        padding: 1.5rem;
    }
}
