$textColor: rgba(53, 52, 52, 0.6);
$textSubColor: rgba(53, 52, 52, 0.8);
$textHoverColor: rgba(53, 52, 52, 1);

#menu-computer {
    nav {
        &:after {
            display: table;
            content: " ";
            clear: both;
        }
        .sf-menu {
            background-color: transparent;
            .menu-item {
                background-color: transparent;
                .sf-with-ul {
                    &:after {
                        border-top-color: $textColor;
                    }
                }
                a {
                    color: $textColor;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                &:hover {
                    .sf-with-ul {
                        &:after {
                            border-top-color: $textHoverColor;
                        }
                    }
                    a {
                        color: $textHoverColor;
                    }
                }
            }

            .sub-menu {
                background-color: #ffffff;
                .menu-item {
                    border-bottom: 1px #dad7d7 dotted;
                    a {
                        color: $textColor;
                    }
                    &:hover {
                        background-color: #fcfcfc;
                        a {
                            color: $textHoverColor;
                        }
                    }
                }
            }

            @include Respond(xl) {
                display: block;
            }
            @include Respond(md) {
                display: none;
            }
        }
    }
}

#menu-mobile {
    display: none;

    @include Respond(xl) {
        display: none;
    }
    @include Respond(md) {
        display: block;
    }

    /*---E MENU CHINH:[PRIMARY MENU]:---*/

    #show_menu {
        cursor: pointer;
        height: 30px;
        background-color: rgb(121, 119, 119);
        border-radius: 5px 5px 0 0;
        text-align: center;
        color: white;
        font-weight: bold;
        line-height: 30px;
    }

    /*MENU CHO RESPORST*/
    #menu-mobile-menu {
        .menu-item {
            background-color: rgba(239, 243, 243, 0.89);
            height: 30px;
            width: 50%;
            float: left;
            a {
                color: rgba(27, 27, 27, 0.5);
                text-decoration: none;
                font-weight: bold;
                padding: 6px 25px;
                text-align: center;
            }
            &:hover {
                background-color: rgba(239, 243, 243, 1);
                a {
                    color: rgba(27, 27, 27, 1);
                }
            }
        }
    }
}
