.modal-header {
    background-color: #286090 !important ;
    border-radius: 5px 5px 0 0 !important;
    color: white !important;
}
.modal-title {
    float: left;
    padding-right: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5rem;
}

.close {
    color: white !important;
}
.clear {
    clear: both;
}
