/* 
    Document   : my
    Created on : 2015/9/17, 下午 12:47:05
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/*  ----B------- custome bootstrap */
/*.container{
    max-width: 310%;   
    background-color: #FFF;
    padding-bottom: 50px;
    max-width:  1024px!important;
}*/

body {
    /*background-color: #E5E5E5!important;*/
}
/*  ----E------- custome bootstrap */


.lbl-content{
    color: grey;
    margin-left: 20px;
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
    border: 1px solid #DDD;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color: #FFF;
    color: #333!important;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    width: 95%;
}
input[type=submit], input[type=reset] {
    background: #015E25;
    /*   background-image: -webkit-linear-gradient(top, #51a818, #3d8010);
       background-image: -moz-linear-gradient(top, #51a818, #3d8010);
       background-image: -ms-linear-gradient(top, #51a818, #3d8010);
       background-image: -o-linear-gradient(top, #51a818, #3d8010);
       background-image: linear-gradient(to bottom, #51a818, #3d8010);*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    /* font-size: 12px;*/
    color: #ffffff;
    /* margin: 15px 2px 20px; 
     padding: 5px 20px;*/
    border: solid #32a840 1px;
    text-decoration: none;
    opacity: 1;

}

input[type=submit]:hover, input[type=reset]:hover{
    background: #016D23;
    color: #ffffff;
}

input[type="radio"]{
    margin-left: 20px !important;
    margin-top: 10px !important;
}
/* SUA LAI  CLASS Cua Boottrap*/

/*-B---------------style of  phan ti gia-------------------------------*/
#tigia{
    width: 100%;
}

#tigia > tbody > tr > td:nth-child(3), #tigia > tbody > tr > th:nth-child(3) {
    display: none;
}

#tigia > tbody > tr > td:nth-child(2), #tigia > tbody > tr > th:nth-child(2) {
    width: 120px;
}

#tigia > tbody >tr > th{
    text-align: center;
    background-color: #A0A3A5;
    height: 50px;
}

#tigia .odd {
    background-color: #e6e6e6;
}

#tigia .even {
    background-color: white;
}

.error-text{
    color: red;   
    margin-left: 10px;
    height:  18px;
    font-size: 12px;
    font-style:  italic;
}

/*-E--------------------------------------------------------------------------*/
.list-item{
    overflow: scroll;
    height: 245px;
    width: 100%;
}

.row-item{
    min-height: 40px;
    background-color: #EDEEEF;
    padding: 10px;

}

.row-item:nth-child(even){
    background-color: #F9F9F9;
}

.row-item:hover{
    background-color: #E0FFF8;
}


/* ---- style input of widget search*/
input[name=s]{
    width: 140px;
}
/* CAC PHAN CUA HEAD TITLE CHO MOI TITLE CO HINH BACKGROUIP */
div.head-title{
    height: 75px;
    margin-left: -3%;
    background-color: transparent;
    background-image:url("images/bg-head.png");
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;
}
div.title{
    background-color: #FF8003;
    margin-top: 17px ;
    margin-left: 20px;
    height: 49px;
    position: absolute;
    border-radius: 0 3px 3px 0;
    box-shadow: 5px 5px 5px #c9c9c9;
    min-width: 40%;
    width: 70%;
}
h2.head {
    font-weight: bold;
    padding-left: 10%;
    padding-right: 0%;
    color: white;
    font-size: 1.5em;
    margin-top: 11px;
}

/*TITLE CHO TUNG BAI VIET COI MAU BACKGRUOND LA MAUCAM*/
.orange-group{

}

.orange-title{
    background-color: #FF8003;
    border-radius: 3px 3px 0 0; 
    min-height: 40px; 
    margin-bottom: 5px;
    /* display:block;*/
    overflow:hidden;

}

.orange-title-text{
    font-size: 16px;
    font-weight: bold; 
    color: #FFFFFF;  
    padding-top: 3px;
    padding-left: 15px; 
    float: left
}

h2.head {
    font-weight: bold;
}

/*-B----------------------- phan register----------------------------------------- */
.row-register{
    margin: 10px 5px;
}

.lbl{
    line-height: 2;
}
.row-register .cell-frist{
    float: left;
    width: 80px;
}

.row-register .cell-seconed{

}

.row-register .mess, .row-modify .mess {
    color: red;
}

.error-mess{
    color: red;
}

/*-E----------------------- phan profile----------------------------------------- */

.hide-info{
    color: #AAAAAA !important;
    border: 1px solid #ffffff !important;
}
.memberInfo{
    width:50%;
}
/*-B--------------------- phan dialog  pupop---------------------------------------------------------*/
/*phần tử phủ toàn màn hình,không được hiển thị*/
#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}
a, a:visited, a:active{
    text-decoration:none;
}
.login
{
    background-color:#85B561;
    height:auto;
    width:450px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:absolute;
    z-index:99999;
    top:10%;
    left:50%;
    margin-left:-300px;
}

.login .login_title
{
    color:white;
    font-size:16px;
    padding:8px 0 5px 8px;
    text-align:left;
}

.login-content label {
    display: block;
    padding-bottom: 7px;
}

.login-content span {
    display: block;
}
.login-content
{
    padding-left:35px;
    background-color:white;
    margin-left:5px;
    margin-right:5px;
    height:auto;
    padding-top:15px;
    overflow:hidden;
}

.img-close {
    float: right;
    margin-top:-43px;
    margin-right:5px
}
.button{
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0px 8px;
    line-height: 36px;
    border-radius: 4px;
    transition: all 0.218s ease 0s;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    cursor: pointer;
}
.button:hover{
    border: 1px solid #DCDCDC;
    text-decoration: none;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.login input
{
    border:1px solid #D5D5D5;
    border-radius:5px;
    box-shadow:1px 1px 5px rgba(0,0,0,.07) inset;
    color:black;
    font:12px/25px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height:28px;
    padding:0px 8px;
    word-spacing:0.1em;
    width:300px;
}
.submit-button{
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 150px;
}
/*-E--------------------- phan dialog  pupop---------------------------------------------------------*/

/* B----------avata---------------------  */
#show-img{
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block}

.avatar{
    width: 50px;
    height: 50px;
    border: 1px black solid;
    border-radius: 3px;
}
/* E----------avata---------------------  */
/*=====================single page style=============================================*/
.entry-meta{
    text-align: right;
    color: #AAAAAA;
}

.entry-header{
    margin-bottom: 20px;
}    


.info-bg{
    background-color: #EDEDED;
    padding: 3px 10px 10px;  
    border-radius: 0 0  5px 5px;
    word-break: break-all; 
    word-wrap: break-word;
}

.info-bg .row{
    border-bottom:  1px solid #FFFFFF;
    margin: 10px;
}

.info-bg .post-info label {
    font-size: 12px;
    color: #AAAAAA;
    font-weight: normal;
}

.info-bg h2 {
    color: #FF8003;
}
/*=====================comment style=============================================*/
ul.children{
    margin-left: 40px;
    background-color: #666;
}

textarea#comment{
    height: 150px;
}

.comment-meta {
    float: right;
    color: #AAAAAA;
    font-size: 12px;
}
.fn{
    font-weight: bold;
    margin-left: 10px;
}

#comment{
    border-bottom: 1px #016D23 solid;
}

/*==============begin  article==============================================================*/
.add-article div
{
    padding-top: 15px;  
}

ul.article-list{
    /* border-bottom: 1px #AAAAAA solid;
     border-top : 1px #AAAAAA solid;*/
    /*margin: 0px 10px 0px 30px;*/

}

.article-list li{
    line-height: 2.5;
}

ul.article-list li:hover{
    background-color: #E0FFF8;
}
.article-list li:nth-child(even){
    /*  height: 40px;*/
    border-bottom: 1px #D8D8D8 dotted;
    background-color: #F9F9F9;
}
.article-list li:nth-child(odd){
    /* height: 40px;*/
    border-bottom: 1px #D8D8D8  dotted;
    background-color:#ffffff;
}

.article-list li a{
    margin-left: 20px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}


.article-list li a:hover{
    color: #666666;
    text-decoration: none;
}
.article-list li a::before{
    /*content: '*';*/
}

.article-list li a label{
    font-size: 9px; 
    color: #666666;
    position: absolute;
    right: 15px;
}

/*==============end  article==============================================================

/*===============begin pagiing ===============================================*/
ul.pro-pagination > li{
    float: left;
    border: 1px #666 solid;
    width: 20px;
    height: 20px;
    padding: 0 2px;
    margin:  0 1px;
    border-radius: 2px;
    background-color: #c7c7c7;
    color: white;
    display: block;
    line-height: 1.3;
    text-align: center;

}

ul.pro-pagination > li:hover {
    background-color: #A0A3A5;
    color: white !important;

}

ul.pro-pagination > li > a{
    display: block;
    position: relative;

}

ul.pro-pagination > li > a:hover{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}

li.selected{
    background-color: #8E8D8D !important;
    font-weight: bold;
}
ul.single-pagination {
    float: right;
    margin-right: 15px;
    margin-bottom: 22px;
    height: 5px ;
}

ul.single-pagination > li{
    float: left;
    width: 15px;
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;

}

ul.single-pagination > li:hover {
    color: #666666 !important;
}

ul.single-pagination > li > a{
    display: block;
    position: relative;


}

ul.single-pagination > li > a:hover{
    text-decoration: none;
    color: #666666 !important;
    font-weight: bold;
}

ul.single-pagination li.selected2{
    font-weight: bold;
    color: #666666;
}
/*===============end pagiing ===============================================*/


/*========= B tuyen dung=======================================================================*/
.content{
    clear: both;
    padding-bottom: 25px;
}

.content input.form-control{
    width: 80% !important;
    float: left;
}
.content  .mess {
    /*  padding-top:  25px;*/
    color: red;
    margin-top: 3px;
    margin-left: 10px;
}



/*=========E tuyen dung=======================================================================*/
/*========= B  JOIN EVENT ====================================================================*/
#join-count{
    margin-top: 10px; 

}

#join-count li {
    margin-left: 1px;
    transition: all 0.5s ease 0s;
    border-bottom: 1px #e8e8e8 solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

.div-error{
    display: none;
    background-color: #E0E2E2;
    color: red;
    font-weight: bold;
    min-height: 100px;
    width: 100%;
    padding: 20px;
    line-height: 2;
    margin-bottom: 20px;
}

.hide-li{
    display: none;
}

.show-li{
    display: block;
}

/*========= E  JOIN EVENT ====================================================================*/

/*========= B  popup ====================================================================*/
#div-popup{
    display: none;
}

#div-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 1000;
    cursor: pointer;
}

#div-alertInfo{
    position: fixed;
    margin: 10px auto;
    z-index: 1200;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}
#alert-title{
    height: 40px;
    margin-top: 0px;
    border-radius: 5px 5px 0 0;
    background-color: background;
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.5;
    padding-left:  20px;
}

#alert-title #btn-close{
    float : right;
    height : 40px;
    width : 45px;
    color:  red;
}
#alert-content{
    text-align: center;
    padding-top: 20px;
}

#waiting-img{
    width: 20px;
    display: none;
}

/**** back to top****************************************************/
/* Back to Top */
#back-top-wrapper {
    width:100%;
    position:absolute;
    overflow:hidden;
}
#back-top {
    position: fixed;
    bottom: 180px;
    right:1%;
    margin-left:580px;
    display:none;
}

#back-top a {
    width: 35px;
    height:28px;
    padding:7px 0 0 0;
    border-radius:18px;
    display: block;
    text-align: center;
    font-size:12px;
    line-height:17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    /*  font-family: 'Oswald', sans-serif; */
    font-weight:400;
    background:#c6250a;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {background:#353535;}

/* arrow icon (span tag)
#back-top span {
    width: 100%;
    height: 4px;
    display: block;
    margin-bottom: 0px;
    background: url(../images/backtotop.png) no-repeat center top;

     rounded corners 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

     transition 
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
*/
a#back-top img{
    opacity: 0.6;
}
a#back-top img:hover{
    opacity: 1;
    cursor: pointer;
}


/* COMMENT*/
.reply{
    float: right;
}

.commentlist li {
    padding:  10px;
    border-radius: 3px;
}

.commentlist li li {
    background-color: #cccccc;
    border-radius: 0px;
}

.commentlist li:nth-child(2n+1){
    background-color: #EAEAEA;
}

.navigation {
    float: right; padding-top: 15px; padding-right: 10px
}

.top-navigation, .bottom-navigation{
    font-weight: bold;
}
.top-navigation a{
    color: white;
}
.top-navigation a:hover{
    color: #CCCCCC;
    text-decoration: none;
}

.bottom-navigation a:hover{
    color: #CCCCCC;
    text-decoration: none;
}

.back-link{
    height: 20px;
    width: 80px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    background-image: url("images/arrow.png");
    background-position: right;
    background-repeat: no-repeat;
    font-weight: bold;
    float: left;
    line-height: 1.5;
    margin-left: 15px;
    margin-right: 3px;

}

.forum-more{
    text-align: right; 
    margin-bottom: 10px;
    margin-right: 15px; 
    margin-top: -10px;
    height: 300px;
}
.row-modify{
    margin-bottom: 15px; 
    width: 98%;
    padding-left: 20px;
}

/* TIM VIEC VA TIM NGUOI   
.recruitment{}
.recruitment-item{
    height: 50px;
    line-height: 3.5;
    border: 1px solid #EAEAEA;
}
.recruitment-item:nth-child(odd){
    background-color:#EAEAEA ;
}

.recruitment-item a{
    background-color:#EAEAEA ;
}*/

/** Pagination */
.pagination {
    background:#E7E6E5;
    background:rgba(255,255,255,0.35);
    padding:7px 10px 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.pagination  .page-numbers {
    padding:3px 7px;
    font-size:15px;
    font-weight:bold;
    border: 1px #D3D1D1 solid;
    border-radius: 3px;
    text-decoration: none;
}
.pagination .page-numbers:hover{
    background: #D3D1D1;
    color: white;
}
.pagination .dots{
    border: 0 !important;
}

.pagination .dots:hover{
    background:white !important;
    color: black;
}
.pagination .current {
    color: black;
    background: #D3D1D1;
}

.my_list_title{
    height: 35px; 
    background-color: #286090; 
    color: white; 
    margin-top: 5px;
    padding: 0px;
    font-weight: bold;
    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
    letter-spacing: 2px;
}
.my_list_title label{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 16px;
}
.my_list{
    color: #515151; 
    font-size: 15px ;   
    letter-spacing: 2px; 
    border: 1px #d8d8d8 solid;  
    border-radius: 0px  0px 4px 4px; 
    padding: 0px 2px;
    margin: 1px;
    margin-bottom: 2px;
    margin-left: -1px !important;
    width: 100%;

    /*cursor: pointer;*/
    /*    background-image: url("./images/down-arrows-16x16.png");*/
    background-repeat: no-repeat;
    background-position: 99% 10px;
    /* transition */
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
    display: none;
    padding-top: 8px;
}
.my_row{
    color: #515151; 
    font-size: 15px ;   
    letter-spacing: 2px; 
    border: 1px #d8d8d8 solid;  
    border-radius:  3px; 
    padding: 5px 2px;
    margin-bottom: 2px;
    margin-left: -1px !important;
    width: 100%;
    cursor: pointer;
    background-image: url("./images/down-arrows-16x16.png");
    background-repeat: no-repeat;
    background-position: 99% 10px;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;

}
.my_row:hover{
    background-image: url("./images/down-arrows-16x16-2.png");
    background-repeat: no-repeat;
    background-position: 99% 10px;

}



.my_row label{
    font-weight:  bold;
}
.my_hide{
    display: none;
    height: 170px;
    /*overflow:  auto;*/
}
.my_text {
    font-size: 13px !important;
    margin-top: 5px;
}

.my_month{
    height: 30px; 
    background-color: #286090; 
    color: white; 
    margin-top: 20px;
    padding: 5px;
    font-weight: bold;
}

/*PHAN CHAY SAN O DUOI TRONG TRANG INDEX SIDEBAR*/



/*PHAN CHAY SAN O DUOI TRONG TRANG INDEX*/
/*=============flexisel===============================*/

/*end =========*/
.my-waiting{
    display: none;
    background-color:  rgba(0, 0, 0, 0.7);
    position:  absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align:  center;
    padding-top: 20%;
    z-index: 5000;
}

#main_bg{
    background-color: white !important;
    width: 100vw;
    height: 100vh;
}

.vertical-list, .result-list{
    display: flex;
/*     flex-wrap: wrap;*/
    list-style: none;
    padding: 0px;
        justify-content:  center;
}

.vertical-list li{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    opacity: 0.6;
    background-color: #f5f2ee;
    transition: 1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    -o-transition:1s;
    -ms-transition:1s;
}

.vertical-list li:hover{
    background-color:  #fff !important;
    opacity: 1 !important;

    transform-origin: bottom center;
    -moz-transform-origin:bottom center;
    -webkit-transform-origin:bottom center;
    -o-transform-origin:bottom center;
    -ms-transform-origin:bottom center;

    transform:  scale(1.2, 1.1);
    -moz-transform:scale(1.2, 1.1 );
    -webkit-transform:scale(1.2, 1.1);
    -o-transform:scale(1.2, 1.1);
    -ms-transform:scale(1.2 , 1.1);

    z-index: 100;
}
.seleted{
    background-color:  #fff !important;
    opacity: 1 !important;

}

.vertical-list li .name-cell{
    font-weight: bold; 
    text-align: center;
    background-color:  #0173fd;
    color: white;
    height: 40px;
    line-height: 40px

}
.vertical-list li .img-cell img{
    width: 90%;
}
.vertical-list li .company-cell{
    height: 150px;    
    text-align: left;
    padding-left: 2px;
    padding-top: 10px;
    border-bottom: 1px #cccccc dotted;    
    font-size: 13px;
}
.vertical-list li .total-cell, .vertical-list li .percent-cell {
    padding-top: 5px;
    border-bottom: 1px #cccccc dotted;  
    min-height: 40px;
}

.number-cell{
    background-color:#666;
    color: white;
    font-size: 13px;
    padding-top: 4px;

}
.check-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px #cccccc dotted;  
    background-color:#eeeeef;
    cursor:  pointer;
    position: relative;

}
.check-cell:hover{
    background-color:#bec1c6;
}

/*  == PHAN  TAO  STYLE CHO CHECKBOX  BANG CACH THEM  LABEL DE AN DI  CAI CHECKBOX  */
.check-cell  label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #ccc;
    border:1px solid #ddd;
    border-radius: 4px;

}
.check-cell label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 15px;
    height: 8px;
    background: transparent;
    top: 5px;
    left: 5px;
    border: 3px solid #F25407;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.check-cell label:hover::after {
    opacity: 0.5;
}
.check-cell input[type=checkbox]:checked + label:after {
    opacity: 1;
}
/*==END=====================*/
#wpfooter{
   display: none; 
}

